body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

/* Estilos de todos los titulos de la pagina */

h1 {
    font-weight: bold;
    font-size: 2em;
    color: rgb(5, 92, 142);
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

/* Todo los estilos del header y del nav que son la barra de menu superior */
header {
    background-color: rgb(28, 28, 73);
    padding: 10px;
    margin: 0px;
    background-image: url("../img/fondo_header.jpg");
}

nav {
    display: flex;
    padding: 0.5em;
    justify-content: space-around;
    align-items: center;
}

nav>button {
    color: rgb(255, 255, 255);
    background-color: rgb(5, 92, 142);
    border: 1px solid white;
    height: 50px;
    width: 200px;
    border-radius: 200px;
    text-decoration: none;
    padding: 1em;
    margin: 0 0.5em;
}

nav button:hover {
    background-color: rgba(0, 130, 186, 0.357);
}

nav>button>a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.primerh1 {
    display: flex;
    width: 100%;
    text-align: center;
    color: black;
    background-color: rgb(5, 92, 142);
    margin: 0;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
    border-bottom: 1px;
}

.segundoh1 {
    display: flex;
    width: 100%;
    text-align: center;
    color: black;
    background-color: rgb(5, 92, 142);
    margin: 0;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
    border-bottom: 1px;
}

.segundoh1:hover {
    background-color: rgba(0, 130, 186, 0.357);
    color: #000;
}

.atracciones {
    display: flex;
    flex-wrap: wrap;
}

.div_izquierda_1 {
    background-image: url(./img_principal/palma.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.div_derecha_1 {
    background-image: url(./img_principal/sierra-de-tramuntana.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.div_izquierda_2 {
    background-image: url(./img_principal/sierra-de-tramuntana.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.div_derecha_2 {
    background-image: url(./img_principal/cuevas-del-drach.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.div1,
.div2 {
    width: 100%;
    height: 290px;
    display: flex;
}

/*Divs Izquierdos y derechos*/
.div_izquierda_1,
.div_izquierda_2,
.div_derecha_1,
.div_derecha_2 {
    width: 50%;
    height: 290px;
    display: flex;
}

/*Divs de Texto*/
.div_izquierda_1,
.div_derecha_2 {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;
}

.div_izquierda_1>div {
    background-color: rgba(93, 234, 253, 0.358);
    text-decoration: dotted;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    visibility: hidden;

}

.div_izquierda_1:hover>div {
    visibility: visible;
    animation-duration: 1s;
    animation-name: transparencia;

}


@keyframes transparencia {
    from {
        transform: scale(0.5);
    }
}

/* Estilos del logo, para que se deslice y ajustar su tamaño */

.logo {
    position: relative;
    animation-name: logo;
    animation-duration: 4s;
}

@keyframes logo {
    from {
        left: -400px;
    }

    to {
        left: 0px;
    }
}

.sobre_nosotros {
    text-align: center;
    margin-top: 20px;
}

.nosotros {
    text-align: center;
}

/* Estilos del formulario de contacto */

form {
    width: 500px;
    margin: 0 auto;
}

.campo {
    margin-bottom: 10px;
}

label {
    display: block;
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #000;
    color: #fff;
    padding: 15px 20px;
    border-radius: 5px;
}

/* estilos del footer */

footer {
    text-align: center;
    margin-top: 10px;
}