body {
    padding: 0;
    margin:0;
}
header {
    background-color:rgb(28, 28, 73);
    padding: 10px;
    margin: 0px;  
    background-image: url("../../img/fondo_header.jpg");
}

nav {
    display: flex;
    padding: 0.5em;
    justify-content: space-around;
    align-items: center;
}

nav > button {
    color: rgb(255, 255, 255);
    background-color: rgb(5, 92, 142);
    border: 1px solid white;
    height: 50px;
    width: 200px;
    border-radius: 200px;
    text-decoration: none;
    padding: 1em;
    margin: 0 0.5em;
    
}

nav button:hover {
    background-color:   rgba(0, 130, 186, 0.357);
}

nav>button>a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.logo {
    position:relative;
    animation-name: example;
    animation-duration: 4s;
  }
  
  @keyframes example {
    from {left: -400px;}
    to {left: 0px;}
  }


.div_table {
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 20px;
    margin-top: 20px;
}
.table {
    height: 600px;
    width: 100%;
    text-align: center;
}
.columna1, .fila1 { 
    background-color: cadetblue;
    font-size: 20px;
}
td:hover {
    background-color: rgb(50, 218, 221);
}

.div_h1 {
    display: flex;
    text-align: center;
    color: black;
    background-color: rgb(5, 92, 142);
    margin: 0;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
    margin-bottom: 1px;
}
 a {
    text-decoration: none;
    color:black;
    font-weight: bolder;
}

.div_generales {
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.div_generales > div > h1 {
    text-align: center;
}

div > ul > li a:hover {
    color: rgb(88, 88, 235);
    font-weight: bolder;
}

.izquierda,.central,.derecha {
    width: 33%;
    height: 350px;
}
.izquierda > ul > li,.central > ul > li,.derecha > ul > li {
    margin-bottom: 10px;
}
.central {
    border-left: 1px solid rgb(5,92,142);
    border-right: 1px solid rgb(5,92,142);
}
footer {
    display: flex;
    width: 100%;
    background-color: rgb(5, 92, 142);
    margin: 0;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: white;
}
