body {
    padding: 0;
    margin:0;
}
header {
    background-color:rgb(28, 28, 73);
    padding: 10px;
    margin: 0px;  
    background-image: url("../../img/fondo_header.jpg");
    margin-bottom: 20px;
}

nav {
    display: flex;
    padding: 0.5em;
    justify-content: space-around;
    align-items: center;
}

nav > button {
    color: rgb(255, 255, 255);
    background-color: rgb(5, 92, 142);
    border: 1px solid white;
    height: 50px;
    width: 200px;
    border-radius: 200px;
    text-decoration: none;
    padding: 1em;
    margin: 0 0.5em;
    
}

nav button:hover {
    background-color:   rgba(0, 130, 186, 0.357);
}

nav>button>a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.logo {
    position:relative;
    animation-name: example;
    animation-duration: 4s;
  }
  
  @keyframes example {
    from {left: -400px;}
    to {left: 0px;}
  }


section {
    margin-left: 20%;
    margin-right: 20%;
}

.table {
    border: 1px blue solid;
    height: 600px;
    width: 100%;
    text-align: center;
    background-color: rgb(183, 230, 231);
}
.columna1, .fila1 { 
    background-color: cadetblue;
}
td:hover {
    background-color: rgb(50, 218, 221);
}

footer {
    display: flex;
    width: 100%;
    background-color: rgb(5, 92, 142);
    margin: 0;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: white;
}
footer > p > a {
    text-decoration: none;
    color:black;
    font-weight: bolder;
}
