body {
    padding: 0;
    margin:0;
}
header {
    background-color:rgb(28, 28, 73);
    padding: 10px;
    margin: 0px;  
    background-image: url("../../img/fondo_header.jpg");
}

nav {
    display: flex;
    padding: 0.5em;
    justify-content: space-around;
    align-items: center;
}

nav > button {
    color: rgb(255, 255, 255);
    background-color: rgb(5, 92, 142);
    border: 1px solid white;
    height: 50px;
    width: 200px;
    border-radius: 200px;
    text-decoration: none;
    padding: 1em;
    margin: 0 0.5em;
    
}

nav>button>a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

nav button:hover {
    background-color: rgba(0, 130, 186, 0.357);
}

.logo {
    position:relative;
    animation-name: example;
    animation-duration: 4s;
}
  
@keyframes example {
    from {left: -400px;}
    to {left: 0px;}
}
.primerh1 {
    display: flex;
    text-align: center;
    color: black;
    background-color: rgb(5, 92, 142);
    margin-top: 0;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
    margin-bottom: 1px;
}
.municipios {
    display: flex;
    flex-wrap: wrap;
}
/* Divs Izquierdos */
.palma_izquierda,.calvia_izquierda,.llucmajor_izquierda,.alcudia_izquierda,.soller_izquierda{
    width: 40%;
    text-align: center;
    background-color: bisque;
    border: 1px solid white;
    height: 400px;
}
/* Divs Derechos */
.palma_derecha,.calvia_derecha,.llucmajor_derecha,.alcudia_derecha,.soller_derecha {
    display: flex;
    flex-grow: 1;
    border: 1px solid white;
    height: 400px;
    background-color: rgb(50, 145, 145);
    width: 60%;
    justify-content: center;
    align-items: center;
}
ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style-type: none;
    height: 70%;
    align-self: center;
    width: 90%;
}
li {
    justify-content: center;
    align-items: center;
    width: 100%;
    height:20%;
    display: flex;
    background-color: rgba(88, 192, 192, 0.486);
}
li > a:hover {
    color: blue;
}
li:hover {
    background-color: rgba(46, 123, 158, 0.514);
    color: black;
}
div > ul > li > a {
    text-decoration: none;
    color: white
}
.palma,.calvia,.llucmajor,.alcudia,.soller {
    width: 100%;
    height: 400px;
    display: flex;
}

footer {
    text-align: center;
    margin-top: 10px;
    display: flex;
    width: 100%;
    text-align: center;
    color: black;
    background-color: rgb(5, 92, 142);
    margin: 0;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
    border-bottom: 1px;
}